SECRET_KEY=замените_на_случайную_строку_64_символа
DEBUG=False
JWT_ACCESS_EXPIRES_HOURS=24

SMTP_SERVER=smtp.example.com
SMTP_PORT=587
SMTP_USER=your@email.com
SMTP_PASSWORD=your_app_password
FROM_EMAIL=your@email.com

SHOP_ID=
CASHBOX_ID=
ALLOWED_API_KEYS=
